<header class="header">
  <div class="header__container">
    <a href="/index" class="logo"><img src="https://user80515.clients-cdnnow.ru/2b-ru/1601564989213_392x320.jpeg" height="80px" alt=""></a>
    <ul class="menu__list">
      <li class="menu__item">
        <a href="/sales" class="menu__link">Акции</a>
      </li>
      <li class="menu__item">
        <a href="/pizza" class="menu__link">Пицца</a>
      </li>
      <li class="menu__item">
        <a href="/drinks" class="menu__link">Напитки</a>
      </li>
      <li class="menu__item">
        <a href="#" class="menu__link">Создать пиццу</a>
      </li>
    </ul>
    {{#if user}}
    <div class="header__entrance">
      <a href="/registration" class="header__entrance_button">
        smirgoff@mail.ru
      </a>
      <a href="" class="header__basket">
        <img src="img/basket-full.svg" class="basketFull">
      </a>
      <a href="" class="header__price">
        0 руб.
      </a>
      <a href="" class="header__arrow">
        <img src="img/arrow-down.svg" class="arrowDown">
      </a>
      <a class="header__burger_menu">
        <img src="https://www.clipartmax.com/png/middle/36-365828_navbar-toggle-icon-menu-hamburger-png-white.png" width='30px' alt="">
      </a>
    </div>
    {{else}}
      <div class="header__entrance">
        <a href="/registration" class="header__entrance_button">
          Войти
        </a>
        <a href="" class="header__basket">
          <img src="img/basket-full.svg" class="basketFull">
        </a>
        <a href="" class="header__price">
          0 руб.
        </a>
        <a href="" class="header__arrow">
          <img src="img/arrow-down.svg" class="arrowDown">
        </a>
        <a class="header__burger_menu">
          <img src="https://www.clipartmax.com/png/middle/36-365828_navbar-toggle-icon-menu-hamburger-png-white.png" width='30px' alt="">
        </a>
      </div>
      {{user}}
    {{/if}}
  </div>
</header>