<div class="text-aboutus">
  <h1>Доставка пиццы в Санкт-Петербурге</h1>
  <span>Вы вернулись домой с учебы или работы и у Вас совершенно не осталось сил готовить? А может, Ваши друзья без предупреждения пришли в гости и Вам нечем их угостить? Тогда бесплатная доставка пиццы – это то, что Вам нужно. Сделайте заказ в пиццерии Domino's Pizza прямо сейчас по телефону или онлайн и наслаждайтесь великолепным вкусом одного из самых популярных блюд во всем мире от известного производителя.</span>
  <h2>Пицца на любой вкус</h2>
  <span>У Вас есть возможность недорого заказать изысканную пиццу с разными начинками: с мясом, курицей, колбасками, ананасами и т. д. По диаметру блюда делятся на стандартные, средние и большие. В нашей пиццерии Вы можете купить пиццу, размер которой 20, 28 или 33 см. Мы готовим вкусные «Маргариту», «Пепперони», «4 Сыра», «Диабло» и другие известные лакомства. Также у нас есть необычные пиццы, например, такие как «Веджи Fit&Fresh», «Русская», «Роял чизбургер». Кроме того, Вы с легкостью сможете создать начинку самостоятельно в онлайн-режиме, выбрав ингредиенты из разнообразного меню пиццерии Domino's Pizza. Побалуйте себя и своих близких блюдом по собственному рецепту. Добавить в блюдо можно соусы (тартар, сырный, барбекю, карбонара), картофельные дольки, сыр (чеддер, пармезан, моцарелла), острый перчик, томаты и многое другое.</span>
  <h2>Преимущества заказа пиццы в пиццерии Domino's Pizza
  </h2>
  <span>
					Свежие натуральные ингредиенты. Это залог высокого качества нашей пиццы. Никаких замороженных полуфабрикатов. Пиццайоло начинает замешивать тесто из отборной муки, делать начинку из ароматных овощей, сочного мяса и нежного сыра, как только Вы оформили заказ. Оперативная доставка. Мы уверены, что вкусное лакомство должно прибыть к Вам сочным и горячим. Поэтому доставка пиццы (совершенно бесплатная) осуществляется быстро и в максимально короткий срок. Курьер привезет Ваше угощение в Санкт-Петербурге по указанному адресу домой или в офис в течение 30 минут. Пиццерии Domino's Pizza – отличная пицца на заказ с доставкой в удобное для Вас время!
					</span>
</div>