<!DOCTYPE html>
<html lang='ru'>
  {{>head}}
	<body>
		<div class="wrapper"><!--элементы лежащие внутри него, при выходе за границы "wrapper'a", не выступали -->
      {{>header}}

            <div class="section_name">
                <span><h1>Напитки</h1></span>
            </div>
<!-- 
			<div class="slider">
				<img src="https://www.wspa.com/wp-content/uploads/sites/53/2018/10/pizza-hut-grilled-cheese-stuffed-crust-pizza_30938281_ver1.0.jpg?w=1280" alt="no img">
			</div>
			<div class="slider-btns">
				<img src="/img/slider_arrow.png" style="transform: rotate(180deg)" >
				
				<img src="/img/slider_arrow.png">
			</div> -->

			<main class="main__container">
				<div class="main__center1">
					<div class="block__pizza one">
						<div class="block__pizza__img">
						<img src="https://nosorog.cafe/wp-content/uploads/2017/12/Coca-cola-0.5.jpg" width="100%" alt="">
						</div>
						<div class="block__pizza__title">
							<h1>Напиток Coca-Cola</h1>
						</div>
						<div class="block__pizza__subtitle"><h2>Напиток Coca-Cola 0,5 литра, охлажденный</h2>
						</div>
						<div class="block__pizza__button__price">
							<div class="block__pizza__button">
								<a href="#">Выбрать</a>
							</div>
							<div class="block__pizza__price">75₽</div>
						</div>
					</div>
					<div class="block__pizza two">
						<div class="block__pizza__img">
                            <img src="https://nosorog.cafe/wp-content/uploads/2017/12/Coca-cola-0.5.jpg" width="100%" alt="">
                            </div>
                            <div class="block__pizza__title">
                                <h1>Напиток Coca-Cola</h1>
                            </div>
                            <div class="block__pizza__subtitle"><h2>Напиток Coca-Cola 0,5 литра, охлажденный</h2>
                            </div>
                            <div class="block__pizza__button__price">
                                <div class="block__pizza__button">
                                    <a href="#">Выбрать</a>
                                </div>
                                <div class="block__pizza__price">75₽</div>
                            </div>
					</div>
					<div class="block__pizza three">
						<div class="block__pizza__img">
                            <img src="https://nosorog.cafe/wp-content/uploads/2017/12/Coca-cola-0.5.jpg" width="100%" alt="">
                            </div>
                            <div class="block__pizza__title">
                                <h1>Напиток Coca-Cola</h1>
                            </div>
                            <div class="block__pizza__subtitle"><h2>Напиток Coca-Cola 0,5 литра, охлажденный</h2>
                            </div>
                            <div class="block__pizza__button__price">
                                <div class="block__pizza__button">
                                    <a href="#">Выбрать</a>
                                </div>
                                <div class="block__pizza__price">75₽</div>
                        </div>
					</div>
					<div class="block__pizza four">
						<div class="block__pizza__img">
                            <img src="https://nosorog.cafe/wp-content/uploads/2017/12/Coca-cola-0.5.jpg" width="100%" alt="">
                            </div>
                            <div class="block__pizza__title">
                                <h1>Напиток Coca-Cola</h1>
                            </div>
                            <div class="block__pizza__subtitle"><h2>Напиток Coca-Cola 0,5 литра, охлажденный</h2>
                            </div>
                            <div class="block__pizza__button__price">
                                <div class="block__pizza__button">
                                    <a href="#">Выбрать</a>
                                </div>
                                <div class="block__pizza__price">75₽</div>
                            </div>
					</div>
				</div>
				<div class="main__center2">
					<div class="block__pizza">
						<div class="block__pizza__img">
                            <img src="https://nosorog.cafe/wp-content/uploads/2017/12/Coca-cola-0.5.jpg" width="100%" alt="">
                            </div>
                            <div class="block__pizza__title">
                                <h1>Напиток Coca-Cola</h1>
                            </div>
                            <div class="block__pizza__subtitle"><h2>Напиток Coca-Cola 0,5 литра, охлажденный</h2>
                            </div>
                            <div class="block__pizza__button__price">
                                <div class="block__pizza__button">
                                    <a href="#">Выбрать</a>
                                </div>
                                <div class="block__pizza__price">75₽</div>
                            </div>
					</div>
					<div class="block__pizza">
						<div class="block__pizza__img">
                            <img src="https://nosorog.cafe/wp-content/uploads/2017/12/Coca-cola-0.5.jpg" width="100%" alt="">
                            </div>
                            <div class="block__pizza__title">
                                <h1>Напиток Coca-Cola</h1>
                            </div>
                            <div class="block__pizza__subtitle"><h2>Напиток Coca-Cola 0,5 литра, охлажденный</h2>
                            </div>
                            <div class="block__pizza__button__price">
                                <div class="block__pizza__button">
                                    <a href="#">Выбрать</a>
                                </div>
                                <div class="block__pizza__price">75₽</div>
                            </div>
					</div>
					<div class="block__pizza">
						<div class="block__pizza__img">
                            <img src="https://nosorog.cafe/wp-content/uploads/2017/12/Coca-cola-0.5.jpg" width="100%" alt="">
                            </div>
                            <div class="block__pizza__title">
                                <h1>Напиток Coca-Cola</h1>
                            </div>
                            <div class="block__pizza__subtitle"><h2>Напиток Coca-Cola 0,5 литра, охлажденный</h2>
                            </div>
                            <div class="block__pizza__button__price">
                                <div class="block__pizza__button">
                                    <a href="#">Выбрать</a>
                                </div>
                                <div class="block__pizza__price">75₽</div>
                            </div>
					</div>
					<div class="block__pizza">
						<div class="block__pizza__img">
                            <img src="https://nosorog.cafe/wp-content/uploads/2017/12/Coca-cola-0.5.jpg" width="100%" alt="">
                            </div>
                            <div class="block__pizza__title">
                                <h1>Напиток Coca-Cola</h1>
                            </div>
                            <div class="block__pizza__subtitle"><h2>Напиток Coca-Cola 0,5 литра, охлажденный</h2>
                            </div>
                            <div class="block__pizza__button__price">
                                <div class="block__pizza__button">
                                    <a href="#">Выбрать</a>
                                </div>
                                <div class="block__pizza__price">75₽</div>
                            </div>
					</div>
				</div>
        {{>textAboutUs}}
			</main>



      {{>footer}}
		</div>
	</body>
</html>
