<!DOCTYPE html>
<html lang='ru'>
	{{>head}}
	<body>
		<div class="wrapper"><!--элементы лежащие внутри него, при выходе за границы "wrapper'a", не выступали -->
			{{>header}}

			<div class="slider">
				<img src="https://www.wspa.com/wp-content/uploads/sites/53/2018/10/pizza-hut-grilled-cheese-stuffed-crust-pizza_30938281_ver1.0.jpg?w=1280" alt="no img">
			</div>
			<div class="slider-btns">
				<img src="img/slider_arrow.png" style="transform: rotate(180deg)" >
				
				<img src="img/slider_arrow.png">
			</div>

			<main class="main__container">
				<div class="main__center1">
					<div class="block__pizza one">
						<div class="block__pizza__img">
							<img src="https://www.citypizza.ru/upload/img/shop/pizza/BORT/resize/%D0%BC%D1%8F%D1%81%D0%BD%D0%BE%D0%B9-%D0%BF%D0%B8%D1%80-%D0%B1%D0%BE%D1%80%D1%82-listThumb.jpg" width="100%" alt="">
						</div>
						<div class="block__pizza__title">
							<h1>Пеперони</h1>
						</div>
						<div class="block__pizza__subtitle"><h2>Курица, Лук, Перец Халапеньо, Сыр Моцарелла, Томатный соус , Соус Сладкий Чили</h2>
						</div>
						<div class="block__pizza__button__price">
							<div class="block__pizza__button">
								<a href="#">Выбрать</a>
							</div>
							<div class="block__pizza__price">399₽</div>
						</div>
					</div>
					<div class="block__pizza two">
						<div class="block__pizza__img">
							<img src="https://www.citypizza.ru/upload/img/shop/pizza/BORT/resize/%D0%BC%D1%8F%D1%81%D0%BD%D0%BE%D0%B9-%D0%BF%D0%B8%D1%80-%D0%B1%D0%BE%D1%80%D1%82-listThumb.jpg" width="100%" alt="">
						</div>
						<div class="block__pizza__title">
							<h1>Пеперони</h1>
						</div>
						<div class="block__pizza__subtitle"><h2>Курица, Лук, Перец Халапеньо, Сыр Моцарелла, Томатный соус , Соус Сладкий Чили</h2>
						</div>
						<div class="block__pizza__button__price">
							<div class="block__pizza__button">
								<a href="#">Выбрать</a>
							</div>
							<div class="block__pizza__price">399₽</div>
						</div>
					</div>
					<div class="block__pizza three">
						<div class="block__pizza__img">
							<img src="https://www.citypizza.ru/upload/img/shop/pizza/BORT/resize/%D0%BC%D1%8F%D1%81%D0%BD%D0%BE%D0%B9-%D0%BF%D0%B8%D1%80-%D0%B1%D0%BE%D1%80%D1%82-listThumb.jpg" width="100%" alt="">
						</div>
						<div class="block__pizza__title">
							<h1>Пеперони</h1>
						</div>
						<div class="block__pizza__subtitle"><h2>Курица, Лук, Перец Халапеньо, Сыр Моцарелла, Томатный соус , Соус Сладкий Чили</h2>
						</div>
						<div class="block__pizza__button__price">
							<div class="block__pizza__button">
								<a href="#">Выбрать</a>
							</div>
							<div class="block__pizza__price">399₽</div>
						</div>
					</div>
					<div class="block__pizza four">
						<div class="block__pizza__img">
							<img src="https://www.citypizza.ru/upload/img/shop/pizza/BORT/resize/%D0%BC%D1%8F%D1%81%D0%BD%D0%BE%D0%B9-%D0%BF%D0%B8%D1%80-%D0%B1%D0%BE%D1%80%D1%82-listThumb.jpg" width="100%" alt="">
						</div>
						<div class="block__pizza__title">
							<h1>Пеперони</h1>
						</div>
						<div class="block__pizza__subtitle"><h2>Курица, Лук, Перец Халапеньо, Сыр Моцарелла, Томатный соус , Соус Сладкий Чили</h2>
						</div>
						<div class="block__pizza__button__price">
							<div class="block__pizza__button">
								<a href="#">Выбрать</a>
							</div>
							<div class="block__pizza__price">399₽</div>
						</div>
					</div>
				</div>
				<div class="main__center2">
					<div class="block__pizza">
						<div class="block__pizza__img">
							<img src="https://www.citypizza.ru/upload/img/shop/pizza/BORT/resize/%D0%BC%D1%8F%D1%81%D0%BD%D0%BE%D0%B9-%D0%BF%D0%B8%D1%80-%D0%B1%D0%BE%D1%80%D1%82-listThumb.jpg" width="100%" alt="">
						</div>
						<div class="block__pizza__title">
							<h1>Пеперони</h1>
						</div>
						<div class="block__pizza__subtitle"><h2>Курица, Лук, Перец Халапеньо, Сыр Моцарелла, Томатный соус , Соус Сладкий Чили</h2>
						</div>
						<div class="block__pizza__button__price">
							<div class="block__pizza__button">
								<a href="#">Выбрать</a>
							</div>
							<div class="block__pizza__price">399₽</div>
						</div>
					</div>
					<div class="block__pizza">
						<div class="block__pizza__img">
							<img src="https://www.citypizza.ru/upload/img/shop/pizza/BORT/resize/%D0%BC%D1%8F%D1%81%D0%BD%D0%BE%D0%B9-%D0%BF%D0%B8%D1%80-%D0%B1%D0%BE%D1%80%D1%82-listThumb.jpg" width="100%" alt="">
						</div>
						<div class="block__pizza__title">
							<h1>Пеперони</h1>
						</div>
						<div class="block__pizza__subtitle"><h2>Курица, Лук, Перец Халапеньо, Сыр Моцарелла, Томатный соус , Соус Сладкий Чили</h2>
						</div>
						<div class="block__pizza__button__price">
							<div class="block__pizza__button">
								<a href="#">Выбрать</a>
							</div>
							<div class="block__pizza__price">399₽</div>
						</div>
					</div>
					<div class="block__pizza">
						<div class="block__pizza__img">
							<img src="https://www.citypizza.ru/upload/img/shop/pizza/BORT/resize/%D0%BC%D1%8F%D1%81%D0%BD%D0%BE%D0%B9-%D0%BF%D0%B8%D1%80-%D0%B1%D0%BE%D1%80%D1%82-listThumb.jpg" width="100%" alt="">
						</div>
						<div class="block__pizza__title">
							<h1>Пеперони</h1>
						</div>
						<div class="block__pizza__subtitle"><h2>Курица, Лук, Перец Халапеньо, Сыр Моцарелла, Томатный соус , Соус Сладкий Чили</h2>
						</div>
						<div class="block__pizza__button__price">
							<div class="block__pizza__button">
								<a href="#">Выбрать</a>
							</div>
							<div class="block__pizza__price">399₽</div>
						</div>
					</div>
					<div class="block__pizza">
						<div class="block__pizza__img">
							<img src="https://www.citypizza.ru/upload/img/shop/pizza/BORT/resize/%D0%BC%D1%8F%D1%81%D0%BD%D0%BE%D0%B9-%D0%BF%D0%B8%D1%80-%D0%B1%D0%BE%D1%80%D1%82-listThumb.jpg" width="100%" alt="">
						</div>
						<div class="block__pizza__title">
							<h1>Пеперони</h1>
						</div>
						<div class="block__pizza__subtitle"><h2>Курица, Лук, Перец Халапеньо, Сыр Моцарелла, Томатный соус , Соус Сладкий Чили</h2>
						</div>
						<div class="block__pizza__button__price">
							<div class="block__pizza__button">
								<a href="#">Выбрать</a>
							</div>
							<div class="block__pizza__price">399₽</div>
						</div>
					</div>
				</div>
				
				{{>textAboutUs}}
			</main>

			

			{{>footer}}
		</div>
	</body>
</html>
